@use 'base/variables' as v;
@use 'base/mixins' as m;

.about{
    &__botons{
        display: flex;
        align-items: flex-end;
        gap: 1rem;
    }
}

.process{
    background-color: v.$gris;
    &__title{
        color: v.$segundo;
        font-size: 3.4rem;
        font-weight: 600;
        margin: 0;
    }
}